<div class="row">
    <div class="col-xs-2 col-xs-offset-0 col-sm-2 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
        <h1>Home</h1>
        <!--<p>http://127.0.0.1:3000/static/1489932550659-Tux.svg.png</p>-->
        <!--<p>http://127.0.0.1:3000/home</p>-->
        <a href="http://127.0.0.1:3000/static/1489945310695-Promise2.pdf">http://127.0.0.1:3000/static/1489945310695-Promise2.pdf</a>
        <a href="http://127.0.0.1:3000/server/uploads/1489945310695-Promise2.pdf">http://127.0.0.1:3000/server/uploads/1489945310695-Promise2.pdf</a>
        <br/>
        <!--<p>http://127.0.0.1:3000/static/1489945310695-Promise2.pdf</p>-->
        <a href="http://127.0.0.1:3000/static/1489945310695-Promise2.pdf">blablbalab</a>
        <br/>
        <a href="http://127.0.0.1:3000/static/1489945154055-google-chrome-stable_current_amd64.deb" target="_self">test</a>


    </div>
</div>